<div class="customer">
  <p>
    <strong>Full Name:</strong> <%= customer.full_name %><br>
    <strong>Phone Number:</strong> <%= customer.phone_number %><br>
    <strong>Email Address:</strong> <%= customer.email_address || "No Email" %>
  </p>
</div>
